/* CSS for styling the dashboard */
body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

nav {
  background-color: purple;
  font-weight: bold;
  color: white;
  display: flex !important;
  flex-direction: row !important;
  padding-right: 20px;
  width: 100%;
  justify-content: space-between;
  height: 70px;
}

h4{
  margin-left: 5%;
  margin-top: 22px !important;
  font-weight: bold;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
}

nav ul li {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 80px; 
  margin-left: 0;
}

nav ul li ul {
  width: auto;
  background: purple;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  background: purple;
  font-size: 15px;
  padding: 20px 25px;
}

nav ul li ul.dropdown li{
  display: block;
  width: 100%;
  background-color: purple;
  margin-right: -120%;
}

ul li ul.dropdown {
  width: 100%;
  background: purple;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li a:hover {
  background: lightcoral;
  width: 100%;
  height: max-content;
  text-decoration: none;
  color: white;
}

ul li:hover ul.dropdown{
  display: block;
  width: 200%;
}

h1{
  color: white;
  font-size: 25px;
}

.user-info {
  display: flex;
  align-items: center; 
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

#contents{
  display: flex;
}

#revenue{
  padding: 0;
  border: 1.5px solid black;
  margin: 3%;
  border-radius: 10px;
  height: 50px;
  width: 25%;
  display: flex;
  font-size: 2px;
}

#revenue .symbol{
  padding: 0;
  margin: 0;
  text-align: left;
  margin-right: 30%;
  vertical-align: middle;
  background-color: purple;
  height: 47.5px;
  width: 48px;
  border-radius: 8px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 20px;
}

#revenue .amount{
  text-align: right;
  padding-right: 3px;
}

#orders{
  padding: 0;
  border: 1.5px solid black;
  margin: 3%;
  border-radius: 10px;
  height: 50px;
  width: 25%;
  display: flex;
  font-size: 10px;
}

#orders .symbol{
  padding: 0;
  margin: 0;
  text-align: left;
  margin-right: 40%;
  vertical-align: middle;
  background-color: purple;
  color: black;
  height: 47.5px;
  width: 48px;
  border-radius: 8px;
  line-height: 50px;
  padding: 13px;
  text-align: center;
}

#orders .quantity{
  text-align: right;
}

#reviews{
  padding: 0;
  border: 1.5px solid black;
  margin: 3%;
  border-radius: 10px;
  height: 50px;
  width: 25%;
  display: flex;
  font-size: 10px;
}

#reviews .symbol{
  padding: 0;
  margin: 0;
  text-align: left;
  margin-right: 30%;
  vertical-align: middle;
  background-color: purple;
  height: 47.5px;
  width: 48px;
  border-radius: 8px;
  line-height: 50px;
  padding: 13px;
  text-align: center;
}

#reviews .pending{
  text-align: right;
}

#customers{
  padding: 0;
  border: 1.5px solid black;
  margin: 3%;
  border-radius: 10px;
  height: 50px;
  width: 25%;
  display: flex;
  font-size: 10px;
}

#customers .symbol{
  padding: 0;
  margin: 0;
  text-align: left;
  margin-right: 30%;
  vertical-align: middle;
  background-color: purple;
  height: 47.5px;
  width: 48px;
  border-radius: 8px;
  line-height: 50px;
  padding: 13px;
  text-align: center;
}

#customers .quantity{
  text-align: right;
}

#history{
  border: 1.5px solid black;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  height: 300px;
  font-weight: 1000;
}

#penord{
  border: 1.5px solid black;
  margin: 40px;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
  height: 300px;
  font-weight: 1000;
}

@media (max-width: 768px) {

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 5px 0;
    width: 50px;
  }

  #history, #penord {
    width: 80%;
  }

  #revenue, #orders, #reviews, #customers {
    width: 45%;
  }

  #revenue .symbol, #orders .symbol, #reviews .symbol, #customers .symbol {
    width: 14px;
    font-size: 14px;
    margin-right: 5%;
  }

  #revenue .symbol{
    color: purple;
    width: 40px;
  }

  #revenue .amount, #orders .quantity, #reviews .pending, #customers .quantity {
    padding-right: 5px;
    margin-top: 8px;
    font-size: 10px;
    font-weight: bold;
  }

  h4 {
    font-size: 12px;
  }
  
  nav ul li a {
    padding: 15px 10px;
    font-size: 10px;
  }

  .user-info img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .user-info{
    font-size: 10px;
    margin-top: -2px;
  }

  nav{
    height: 60px;
  }
}